body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #606060;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
main {
  padding: 20px;
  background-color: #606060;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
.content {
  flex: 1;
  background-color: #606060;
  padding: 20px;
}

/* index */

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-template-areas:
    "best-deals best-deals best-deals best-deals best-deals"
    "spesific-stors spesific-stors spesific-stors spesific-stors spesific-stors"
    "search search search search search"
    "favorits favorits favorits favorits favorits"
    "Cities Cities Cities Cities Cities";
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
}

.best-deals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". best-deals-title ."
    ". best-deals-button ."
    ". . .";
  grid-area: best-deals;
}

.best-deals-title {
  grid-area: best-deals-title;
  background-color: lightslategray;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.best-deals-button {
  grid-area: best-deals-button;
  background-color: lightslategray;
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}

.spesific-stors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". spesific-store-title ."
    ". spesific-store-button ."
    ". . .";
  grid-area: spesific-stors;
}

.spesific-store-title {
  grid-area: spesific-store-title;
  background-color: lightslategray;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.spesific-store-button {
  grid-area: spesific-store-button;
  background-color: lightslategray;
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". search-title ."
    ". search-button ."
    ". . .";
  grid-area: search;
}

.search-title {
  grid-area: search-title;
  background-color: lightslategray;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.search-button {
  grid-area: search-button;
  background-color: lightslategray;
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}

.favorits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". favorits-title ."
    ". favorits-button ."
    ". . .";
  grid-area: favorits;
}
.favorits-title {
  grid-area: favorits-title;
  background-color: lightslategray;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}
.favorits-button {
  grid-area: favorits-button;
  background-color: lightslategray;
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}
.Cities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". cities-title ."
    ". cities-button ."
    ". . .";
  grid-area: Cities;
}
.cities-title {
  grid-area: cities-title;
  background-color: lightslategray;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}
.cities-button {
  grid-area: cities-button;
  background-color: lightslategray;
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
}

/* best-deals */

#container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 15px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "head"
    "games";
  font-size: large;
  font-weight: bold;
  height: 150px;
}

.head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "head-thumb head-title head-price head-stores";
  grid-area: head;
}

.head-thumb {
  grid-area: head-thumb;
}

.head-title {
  grid-area: head-title;
}

.head-price {
  grid-area: head-price;
}

.head-stores {
  grid-area: head-stores;
}

.games {
  display: flex;
  flex-direction: column;
  grid-area: games;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
}

.game-thumb {
  width: 50%;
}

.game-title {
  width: 50%;
}

.game-price {
  width: 50%;
}

.game-stores {
  width: 50%;
}

#game-normalPrice {
  text-decoration: line-through;
}
img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 200px;
}

#chart {
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
}

#canvas {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 10px;
}
